body{
  padding: 0;
  margin: 0;
}
.navbar-default {
    /* background-color: #02042d;
    border-color: #02042d; */
    border-radius: 0px;
}
img.logoplaza
{
  margin-top: 5px;
}
#content
{
  margin-top: 8px;
}
.onsale
{
  float: right;
    background: rgba(241,11,39,.5);
    color: #fff;
    right: 0px;
    top: -19px;

}
.menutopo .navbar-nav>li>a {
border-right: #c1021a 1px solid;
}

.dropdown-menu{
  /*   background: #02042d; */
    border-radius: 0px;
    box-shadow: none;
}

.form-control{
    border-radius: 0px;
    height: 50px;
}
/*
.navbar-light .navbar-toggler-icon{
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
a.nav-link
{
  color: #fff !important;
}
.NavTop
{
  background: #CF132B;
  color: #fff;
  border: none;
}
.BoasVindas
{
  float: left;
  position: absolute;
  text-decoration: none;
  list-style: none;
  line-height: 50px;
  margin: 0;
  margin-left: 30px;
  color: #fff;
  text-transform: none;
  font-family: roboto;
  font-weight: normal;
}

.navbar-brand{
  width: 100%;
}

img.logo {
    margin: auto;
}

.btn-group-justified, .input-group {
    display: block;
}

#masthead.navbar {
    min-height: auto;
}

.input-group {
    margin-top: 30px;
}

input.form-control.inputBuscaProduto {
    padding: 25px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid #d9d6d6;
    float: left;
    border-radius: 3px;
    width: 73%;
}

.input-group button {
    padding: 11px 20px 0 20px;
    margin-top: 8px;
    margin-right: 16px;
    background: #cf132b;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    text-transform: uppercase;
}

.meucarrinho{
  margin-top: 40px;
}

.meucarrinho a {
    color: #625d5e;
}

#footer, #footer h3, #footer strong, #footer a
{
  background: #F1F1F1;
  color: #6c6c6c;
}
#footer a:hover
{
  color: red;
}
ul
{
  list-style: none;
}
.Pagamentos
{
  margin-left: -20px;
}

.subfooter, .subfooter a
{
    background-color: #CF132B !important;
    color: #fff !important;
}

#footer a{
  box-shadow: none!important;
}
